/**
 This file is part of FragMrRobot.
 
 FragMrRobot is distributed under The Q Public License Version (QPL-1.0).
 
 You should have received a copy of the License along with this file.
 If not, see http://opensource.org/licenses/QPL-1.0
*/

body {
	background-color: #DDD;
}

#content{
	background-color: white;
	border: 1px solid #DDD;
	margin: 20px auto 20px;
	padding: 12px;
	width: 90%;
	max-width: 900px;
	-webkit-border-radius: 12px;
	box-shadow: 0px 0px 10px #000;
}
